* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(0,0,0,1) 0%, rgb(0, 2, 41) 80%);
    
}

header {
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    padding: 30px 100px;
    background-color: #150b7d;
    color: white;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 2em;
}
/* ------------------- nav ------------------- */
nav a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    font-size:1.3em;
    border: 2px solid #30269f;
    border-radius: 7px;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
}

nav a:hover {
    background-color:  #ffffff;
    color: #000229;
    transition: .6s;
}

/* ------------------- main box ------------------- */
.wrapper {
    position: relative;
    width: 400px;
    height: 470px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #150b7d;
    border: solid 3px #30269f;
    box-shadow: 0px 0px 30px 2px rgba(66, 77, 200, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height .5s ease-in;
}

.wrapper.active {
    height: 750px; 
}

.wrapper .register_box {
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form_box.login_box,
.wrapper.active .form_box.register_box {
    transition: none;
}

.wrapper.active .form_box.login_box {
    transform: translateX(-400px);
}

.wrapper.active .form_box.register_box {
    transform: translateX(0);
}


/* ------------------- form elements ------------------- */
.form_box {
    width: 100%;
    padding: 40px;
}

.form_box h2 {
    font-size: 2em;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #484848;
    margin: 30px 0;
    padding: 0 45px 0 0;
}

.input_box label {
    position: absolute;
    top: calc(50% - 25px);
    left: 5px;
    transform: translateY(-50%);
    font-weight: 600;
    transition: .5s;
}
.input_box input {
    width:  100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input_box .icon {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.2em;
    line-height: 57px;
}

form p {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

form p a {
    color: #8282ff;
    text-decoration: underline;

    background: transparent;
    border: none;
    outline: none;
}

form p a:hover {
    color: #b0b0ff;
    cursor: pointer;
}

form .login_button,
form .register_button {
    width: 100%;
    font-size: 1.2em;
    margin: 20px 0;
    background: #6868fb;
    border-radius: 9px;
    transition: .2s;
    padding: 7px;
}
form .login_button:hover,
form .register_button:hover {
    background: #4646ff;
    cursor: pointer;
}

.error_info {
    position: absolute;
    bottom: 30px;
    color: #d00700;
}